<h2 align="center">Title: <%= @blog.title %></h2>
<div class="well col-xs-8 col-xs-offset-2">
    <h4 class="center description"><strong>Description:</strong></h4>
    <hr>
        <%= simple_format(@blog.description) %><br/><br/>
        <% if @blog.categories.any? %>
            <p> Categories: <%= render @blog.categories %></p>
        <% end %>
        <h2><%= @blog.comments.count%> comments</h2>
            <%= render @blog.comments %>
            <h3> Add a Comment </h3>
                <%= render 'comments/form' %>
        <% if user_signed_in? %>
        <div class="blog-actions">
            <%= link_to "Edit this blog", edit_blog_path(@blog), class: "btn btn-xs btn-primary" %>
            <%= link_to "Delete this blog", blog_path(@blog), method: :delete,
            data: { confirm: "Are you sure you want to delete the blog?"},
            class: "btn btn-xs btn-danger" %>
        <% end %>
            <%= link_to "View all blogs", blogs_path, class: "btn btn-xs btn-success" %>
        </div>
        

</div>
